.article {
    margin-top: 5rem;
}

.article .article-text {
    text-align: center;
    margin: 1rem 0;
}

.article .container {
    --gap: 1.2rem;
    --num-cols: 5;
    --row-height: 300px;

    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap)
}

.article .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.span-3 {
    grid-column: span 3;
}
.span-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.right-img-details .btn {
    margin: 1rem 0;
}

.article .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin-bottom: -14px;
    background-color: #5ab5de;
    opacity: 0.6;
}


.container .img-details {
    margin-top: -50px;
    padding: 0px 10px 0px 10px;
   
}
@media screen and (max-width: 1024px) {
    .article .container {
        --num-cols: 2;
        --row-height: 200px;
        --grap: .5rem;
    }



    .span-3 {
        grid-column: span 2;
    }

    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
    .order-3 {
        order: 3;
    }
    .order-4 {
        order: 4;
    }
    .order-5 {
        order: 5;
    }
    .order-6 {
        order: 6;
    }
    .order-7 {
        order: 7;
    }
}
